<!-- breadcrumb -->  
	<div class="container">	
		<ol class="breadcrumb w3l-crumbs">
			<li><a href="<%= root_url %>"><i class="fa fa-home"></i> Home</a></li> 
			<li class="active">Sign Up</li>
		</ol>
	</div>
	<!-- //breadcrumb -->
	<!-- sign up-page -->
	<div class="login-page about">
		<!-- <img class="login-w3img" src="images/img3.jpg" alt=""> -->
		<%= image_tag "img3.jpg", class: "login-w3img" %>
		<div class="container"> 
			<h3 class="w3ls-title w3ls-title1">Sign Up to your account</h3>  
			<div class="login-agileinfo"> 
				<%= form_for @user, url: signup_create_user_path, validate: true do |f| %>

					<%= f.text_field :full_name, class: "agile-ltext", placeholder: "Full Name" %>

					<%= f.email_field :email, class: "agile-ltext", placeholder: "Email" %>

					<%= f.password_field :password, class: "agile-ltext", placeholder: "Password" %>
					<%= f.password_field :password_confirmation, class: "agile-ltext", placeholder: "Password" %>

					<!--<div class="wthreelogin-text"> 
						<ul> 
							<li>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i> 
									<span> I agree to the terms of service</span> 
								</label> 
							</li> 
						</ul>
						<div class="clearfix"> </div>
					</div>-->   
					<%= f.submit 'Sign Up' %>
				<% end %>
				<p>Already have an account?  <a href="login.html"> Login Now!</a></p> 
			</div>	 
		</div>
	</div>
	<!-- //sign up-page --> 